*{
    box-sizing: border-box;
    padding: 10;
    margin: 10;
}

nav
{
    background-color: palevioletred;
    height: 50px;

}

body
{
    background-color: pink;
}

button
{
    background-color: palevioletred;
    color:white;
    text-align: center;
    width: 100px;
    
    
}

p
{
    color:white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

footer
{
    text-align: center;
}

.Contenedor
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

